@media screen and (max-width: 1024px) {
header {
    background-image: url("../img/12.png");
    max-width: 1024px;
    height: 1000px;
}  
.wrapper_of_header {
    padding: 0 36px;
    position: relative;
}
.block_rectangle {
    right: 36px;
}
.container-night {
    padding: 70px 36px 70px 36px;
    height: 1101px;
}
.text-p-night {
    width: 788px;
}
.block-night-city {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.images-block {
    display: flex;
    flex-direction: row;
    gap: 32px;
    max-width: 460px;
    width: 100%;
}
.img_night_city {
    width: 952px;
    height: 424px;
}
.container-play_win {
    height: 1094px;
    max-width: 1024px;
    position: relative;
    top: 70px;
}
.play_win-wrapper {
    padding: 15px 36px 70px 36px;
}
.text-block-play-win {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: stretch;
}
.text-block-play-win {
    display: flex;
    gap: 32px;
}
.play_win_icons {
    width: 132px;
    height: 132px;
}
.play_win_h2-text {
    padding-top: 0px;
}
.play_win_h2-text {
    width: 460px;
}
.block-play-win {
    width: 460px;
    height: 159px;
}
.name_block-play {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 98px;
}
.ps-xbox-img_block {
    width: 460px;
    height: 858px;
    position: absolute;
    background-image: url(./img/Group\ 244.svg);
    background-repeat: repeat;
    top: 165px;
    right: 36px;
}
.img-1 img {
    height: 70px;
}
.container_total_immersion {
    height: 866px;
    max-width: 1024px;
    position: relative;
    top: 70px;
}
.immersion_HP {
    padding: 70px 36px;
}
.content_hp {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-top: 25px;
} 
.hp_content_img {
    height: 571.18310546875px;
    width: 460px;
    padding-top: 50px;
}
.img_monitor {
    width: 460px;
    height: 317px;
}
.text-hp {
    width: 460px;
}
.p-text_hp {
    width: 460px;
}
.container_buy-game {
    max-width: 1024px;
    height: 717px;
    position: relative;
    top: 70px;
}
.img_cuberpank {
    max-width: 332px;
    width: 100%;
    height: 717px;
}
.text_cuberpank_block {
    padding: 70px 36px 70px 32px;
}
footer {
    position: relative;
    top: 70px;
}
.container_footer {
    padding: 13px 36px;
    max-width: 1024px;
    height: 140px;
    align-items: center;
}
}

