@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Archangelsk";
    src: url("https://fontsforyou.com/fonts/a/Archangelsk.ttf") format("truetype");
}
@font-face {
  font-family: "Archangelsk";
  src:
    url("/fonts/Archangelsk font.ttf") format("woff2"),
    url("/fonts/Archangelsk font.woff") format("woff");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header {
    background-image: url("../img/11.png");
    max-width: 1920px;
    width: 100%;
    height: 1000px;
}
.wrapper_of_header {
    padding: 0 320px;
    position: relative;
}
.block_rectangle {
    background-color: #F8F200;
    width: 624px;
    height: 369px;
    clip-path: polygon(10% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 15%);
    position: absolute;
    top: 631px;
    right: 320px;
    padding: 70px;
}
.header_h2 {
    font-family: "Archangelsk";
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
    padding-bottom: 25px;
}
.header_btn {
    padding: 19px 50px;
    background-color: black;
    color: #F8F200;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}
.header_content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.navigation {
    display: flex;
    list-style: none;
    gap: 40px;
}
.header_btn:hover {
    background-color: #F8F200;
    border-radius: 5px;
    color: black;
    transition: 3s;
}


.container-night {
    padding: 70px 320px;
    height: 847px;
}
.wrapper_night-city {
    height: 707px;   
}   
.text_night-city_block {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.text-h2-night {
    font-family: "Archangelsk";
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
}
.text-p-night {
    width: 952px;
    color:  #777777;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    padding-bottom: 70px; 
}
.text-span-1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #4FB3D3;
}
.block-night-city {
    display: flex;
    gap: 32px;
}
.images-block {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    max-width: 460px;
    width: 100%;
}
.img-1 img {
    max-width: 1920px;
    width: 100%;
}


.container-play_win {
    background-color: #000;
    height: 884px;
    max-width: 1920px;
    width: 100%; 
}
.play_win-wrapper {
    padding: 15px 320px 70px 320px;
}
.text-block-play-win {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 32px;
}
.play_win_h2-text {
    font-family: "Archangelsk";
    font-weight: 400;
    color: #fff;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 40px;
}
.block-play-win {
    width: 970px;
    height: 91px;
}
.play_win_p-text {
    color:  #fff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    padding-top: 25px;
}
.PS_Xbox_block-play {
    display: flex;
    gap: 32px;
}
.name_block-play {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 98px;
}
.name-input {  
    border: none;  
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    background: #000;
    border-color: none;
    padding-bottom: 13px;
    color: #ffffff;
}
.slehh {
    width: 460px;
    height: 1px;
    color: #777777;
}
.screenshot_block {
    border: 1px dashed #777777;
    padding: 39px 137px;
    color: #fff;
}
.screenshot-p-text {
    width: 190px;
    height: 21px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
    padding-bottom: 7px;
}
.screenshot-p2 {
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
}
.screenshot-btn {
    width: 192px;
    padding: 19px 50px;
    background: #F8F200;
    border: none;
    color: #000;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}
.checkbox-play {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cyber-checkbox {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
.cyber-checkbox input {
    display: none;
}
.box {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #000; 
    border: 1px solid #777777; 
    position: relative;
    transition: background 0.2s; 
}
.box::after {
    content: "";
    position: absolute;
    display: none; 
    left: 3px;
    width: 5px;
    height: 8px;
    border: solid #F8F200;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}
.cyber-checkbox input:checked ~ .box {
    background-color: #000; 
    border-color: #777777; 
}
.cyber-checkbox input:checked ~ .box::after {
  display: block;
}
.screenshot_p-text {
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: #ffffff;
}
.ps-xbox-img_block {
    max-width: 788px;
    width: 100%;
    position: relative;
    background-image: url(./img/icon/Group\ 217.svg);
    background-repeat: no-repeat;
    top: 50px;
}


.container_total_immersion {
    background-color: #F8F200;
    height: 746px;
    max-width: 1920px;
    width: 100%; 
}
.immersion_HP {
    padding: 70px 320px;
    display: flex;
}
.hp_content_img {
    height: 536px;
    width: 624px;
}
.content_hp {
    padding-left: 42px;
    padding-top: 26px;
    display: flex;
    gap: 25px;
}
.total_immersion_block-text {
    width: 624px;
    height: 526px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
}
.total_immersion_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 20px;
}
.text-hp {
    width: 560px;
    font-family: Archangelsk;
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
}
.p-text_hp {
    width: 624px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
}
.block-icons_text {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons-hp_text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 30px;
}
.btn_hp {
    width: 194px;
    padding: 20px 50px;
    background-color: #000;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #F8F200;
}


.container_buy-game {
    max-width: 1920px;
    width: 100%;
    background-color: #000;
    display: flex;
}
.text_cuberpank_block {
    padding: 70px 32px 70px 32px;
    color: #fff;
}
.h2_cuberpank_block h2 {
    width: 624px;
    font-family: Archangelsk;
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
    padding-bottom: 25px;
}.text_1_cuberpank {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 70px;
}
.text_span {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #52BEDC;
}
.text_block_cuber {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Select_platform {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.Select_platform_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.img_block_1 {
  display: flex;
  gap: 80px;
}


.container_footer {
    padding: 13px 320px;
    max-width: 1920px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.icons1_footer_cuberpank {
    display: flex;
    gap: 32px;
}
.block_footer_text {
    display: flex;
    align-items: center;
    gap: 32px;
}
.footer_text_p1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.project_cuberpank {
    max-width: 1920px;
    width: 100%;
    height: 50px;
    background-color: #000;
    padding-top: 18px;
}
.project_text_p {
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    color: #fff;
}








   

      

